<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.ProductInfoMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.model.ProductInfo" >
    <id column="product_id" property="productId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="stock" property="stock" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    product_id, name, stock
  </sql>
  <select id="selectByPrimaryKeyByBuyCount" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_product
    where product_id = #{productId,jdbcType=BIGINT}
    and stock  &gt;= #{buyCount,jdbcType=INTEGER}
  </select>

  <update id="updateByStock">
    update t_product
    set stock = stock - #{buyCount,jdbcType=INTEGER}
    where product_id = #{productId,jdbcType=BIGINT}
    and stock  &gt;= #{buyCount,jdbcType=INTEGER}
  </update>
</mapper>